.vs/
UnitTestCoverageReport/
nupkg/
.vscode/
Trl.Serialization/bin/
Trl.Serialization/obj/
Trl.Serialization.Tests/bin/
Trl.Serialization.Tests/obj/
Trl.Serialization.Tests/TestResults/
Trl.Serialization.SampleApp/bin/
Trl.Serialization.SampleApp/obj/
**/*.csproj.user
